This example shows how to use SPARQLWrapper to execute a single INSERT query against a remote RDF triple store to draw simple inferences and add new triples to the database

In [26]:
from SPARQLWrapper import SPARQLWrapper, RDFXML

The URL the sparql endpoint may vary depending on the triple store used.  The following works for Stardog.  Note that we specify the database (ckg_test) and also that we may perform updates

In [43]:
endpoint = "http://localhost:9090/ckg_test/update"

In [44]:
sparql = SPARQLWrapper(endpoint)

In [47]:
query = open("insert_queries/inverseOf.txt", 'r').read()

An insert query does not return any results, so all we have to do is run it

In [40]:
sparql.setQuery(query)
sparql.query().convert()